* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body, html {
    background-color: #88edcf;
  }
/* LOGIN PAGE */

.login-page,
.sign-up-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px 0;
  }

  h4 {
      margin: auto;
      font-size: 2rem;
      padding: 15px 0;
  }

  fieldset {
      border: none;
      display: flex;
      flex-direction: column;
  }

  .login-form-wrapper {
    background-color: #ffffff;
    width: 33%;
    margin-top: 85px;
    min-height: 70vh;
    border-radius: 5px;
  }

  fieldset div {
    border: 1px solid rgb(233, 233, 233);
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
  }

  .login-form-wrapper input,
  .sign-up-form-wrapper input {
      width: 100%;
      background-color: rgb(233, 233, 233);
      border: none;
      padding: 10px;
  }

  .login-button {
      width: 100%;
      padding: 12px;
      background-color: #88edcf;
      border: none;
      outline: none;
      border-radius: 5px;
      color: #ffffff;
      font-size: 1.1rem;
  }

  .login-button-div {
      margin-top: 15px;
  }

  .sign-in-prompt {
      background-color: rgb(233, 233, 233);
      width: 100%;
      height: 50px;
      border-top: 1px solid rgb(192, 186, 186);
      border-bottom: 1px solid rgb(192, 186, 186);
      margin-top: 70px;
      padding: 10px 30px;
      text-align: center;
      font-size: 20px;
      font-style: normal;
  }

  .forgot-pwd {
      text-align: right;
      margin: 20px;
  }

  /* SIGN UP PAGE  */

.sign-up-form-wrapper {
    background-color: #ffffff;
    width: 35%;
    margin: 50px auto;
    border-radius: 3px;
}

.sign-up-form-wrapper fieldset div {
    border: 1px solid #edebed;
    margin: 10px auto;
    padding: 5px;
    width: 95%;
    border-radius: 3px;
}

.sign-up:after {
  content:" *";
  color: red;
}

.sign-up-form-wrapper button {
    width: 100%;
    height: 45px;
    background-color: #88edcf;
    margin-left: -1px;
    border: none;
    margin-bottom: -2px;
    color: #ffffff;
    font-size: 1.2rem;
}

.fieldset-bottom {
    width: 100%;
    height: 60px;
    background-color: #edebed;
    padding: 10px;
    text-align: right;
    border-top: 1px solid #cfcacf;
    margin-top: 20px;
}

.fieldset-bottom a {
  color: black;
}

@media (max-width:768px) {
  .login-form-wrapper,
  .sign-up-form-wrapper {
    min-width: 90%;
    margin: 35px auto;
    display: flex;
    flex-direction: column;
  }

  h4 {
    text-align: center;
  }

  .sign-up-form-wrapper fieldset div {
    border: 1px solid #edebed;
    margin: 10px auto;
    padding: 5px;
    width: 90%;
    border-radius: 3px;
}

  .sign-in-prompt {
    width: 100%;
    font-size: 1rem;
}

.fieldset-bottom {
  width: 100%;
  text-align: center;
  padding: 20px 5px;
}
}