* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    background-color: #e4f9f5;
}

a {
    text-decoration: none;
    color: #1f1f1f;
}

li {
    list-style-type: none;
}

/* NAVBAR SECTION  */

.navbar {
   height: 70px;
   background-color: #ffffff;
   padding: 20px 50px;
   border-bottom: 1px solid #e4e7ed;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 1;
}

.navbar a {
    font-size: 1.33rem;
}

.navbar button {
    padding: .375rem .85rem;
    font-size: 1rem;
    background: #ffffff;
    border: 1px solid black;
    opacity: 0.7;
    border-radius: 5px;
    outline: none;

}

.navbar button:hover {
    cursor: pointer;
    padding: .5rem 1rem;

}

/* SUB NAVIGATION */
.sub-nav {
    position: fixed;
    top: 70px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 20px 50px;
    border-bottom: 1px solid #e4e7ed;
}

.sub-nav-items {
    height: 40px;
    margin-top: -12px;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sub-nav-items:hover{
    border: 1px solid #e4e7ed;
    border-bottom: 2px solid rgb(6, 177, 6);
}

.sub-nav-items:active{
    background-color: rgb(6, 177, 6);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #1c2e21;
}

/* PROJECT */
.projects-page,
.past-questions,
.lecture-notes {
    margin: 120px 0;
    padding: 50px 30px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.card-projects {
    padding: 10px;
    width: 31%;
    height: 120px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.project-title {
    font-size: 13px;
    text-align: center;
    margin: 5px;
}

.project-text {
   font-size: 11px;
   text-align: center;
   margin: 5px;
}

.project-details {
    font-size: 12px;
    text-align: center;
    margin: 5px;
}

/* LECTURE NOTES AND PAST QUESTIONS */

.card {
    padding: 5px;
    width: 22%;
    height: 130px;
    margin: 20px 18px;
    border-radius: 5px;
    display: flex;
    font-size: 14.5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-header {
    color: #ffffff;
    width: 283.5px;
    height: 40px;
    padding: 10px 0;
    text-align: center;
    margin-top: -48px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #1c2e21;

}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    margin: 5px 0;
}

.card-link,
.card-title,
.card-text {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    /* PROJECTS PAGE */
    .card-projects {
        width: 100%;
        height: 150px;
    }
    
    .project-title {
        font-size: 13px;
        text-align: center;
        margin: 5px;
    }
    
    .project-text {
       font-size: 11px;
       text-align: center;
       margin: 5px;
    }
    /* LECTURE NOTES AND PAST QUESTIONS */
    .card {
        padding: 5px;
        width: 100%;
        height: 130px;
        margin: 20px auto;
    }

    .card-header {
        width: 103.5%;
        text-transform: capitalize;
    }

    .card-link {
        text-transform: uppercase;
    }
}